/* Code tidied up by ScrapBook */
* { margin: 0px; padding: 0px; font-family: Arial; font-size: 13px; color: rgb(8, 8, 8); }
html, body { width: 100%; height: 100%; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.heder2 { margin: 0px auto; background: rgb(0, 82, 152) none repeat scroll 0% 0%; }
.hed2 { width: 1000px; height: 24px; margin: 0px auto; }
.heder { background: rgba(0, 0, 0, 0) url("heder.png") repeat-x scroll 0px 100%; width: 100%; overflow: hidden; }
.heder.footer { background: rgba(0, 0, 0, 0) url("footer.png") repeat-x scroll 0px 0px; border-top: 0px none; width: 100%; overflow: hidden; padding: 0px 0px 10px; }
.hed { width: 1000px; min-height: 100px; margin: 0px auto; overflow: hidden; }
.lefter-menu { width: 276px; float: left; overflow: hidden; }
.logo { margin: 10px 0px; float: left; }
.logo img { height: 96px; border: 0px none; }
.your-sity { width: 182px; text-align: center; font: 13px/16px Arial; color: rgb(122, 122, 122); float: left; clear: left; padding: 0px 0px 2px; }
.heder.footer .your-sity { width: 300%; text-align: left; }
.footer .your-sity { font: 11px/12px Arial; color: rgb(150, 150, 150); }
.topmenu { float: right; margin: 15px 0px 20px; }
.topmenu a { font: bold 17px/20px Arial; color: rgb(8, 8, 8); text-decoration: underline; margin: 0px 12px; text-transform: uppercase; }
.topmenu a:hover { color: rgb(0, 82, 152); text-decoration: none; }
.under-menu { float: right; clear: right; width: 720px; overflow: hidden; }
.call-back { float: right; border: 1px solid rgb(0, 82, 152); background: rgb(0, 82, 152) url("call-back.png") repeat-x scroll 0px 0px; font: 13px/31px Arial; color: rgb(255, 255, 255); text-transform: uppercase; padding: 0px 10px; clear: right; cursor: pointer; }
.call-back:hover { background-position: 0px -31px; }
.call-back:active { background-position: 0px -62px; }
.cant-phone { padding: 6px 0px 6px 45px; font: bold 25px/20px Arial; color: rgb(8, 8, 8); float: right; margin: 0px 40px 0px 20px; }
.phone { font: 13px/16px Arial; color: rgb(0, 82, 152); float: right; padding: 6px 0px 6px 45px; background: rgba(0, 0, 0, 0) url("phone.png") no-repeat scroll 0px 50%; }
.phone b { display: block; font: bold 25px/20px Arial; color: rgb(8, 8, 8); margin: 0px 0px 5px; }
.welcome { color: rgb(0, 82, 152); padding: 0px 200px 0px 50px; text-align: center; text-shadow: 0px 0px 1px rgb(255, 255, 255); }
.telo { width: 1000px; margin: 20px auto 40px; }
.cats_serv { width: 1030px; overflow: hidden; margin: 0px 0px 0px -5px; }
.lev_b .cats_serv { width: 100%; margin: 0px; }
.cats_serv table { width: 280px; margin: 0px 40px 10px 0px; float: left; table-layout: fixed; }
.lev_b .cats_serv table { width: 100%; margin: 0px 0px 10px; float: none; }
.cats_serv table td { padding: 0px 5px; }
.lev_b .cats_serv table td:first-child { width: 60px; }
.cats_serv table td a { font: 18px/22px Arial; color: rgb(8, 8, 8); text-decoration: none; }
.lev_b .cats_serv table td a { font: 15px/18px Arial; }
.cats_serv table td a.pic { padding: 3px; border: 2px solid rgb(225, 225, 225); border-radius: 5px; width: 125px; overflow: hidden; display: block; }
.lev_b .cats_serv table td a.pic { padding: 2px; border: 1px solid rgb(225, 225, 225); border-radius: 3px; width: 50px; }
.lev_b .cats_serv table td a.pic img { width: 50px; height: 50px; }
.cats_serv table:hover td a.pic { border: 2px solid rgb(0, 82, 152); }
.lev_b .cats_serv table:hover td a.pic { border: 1px solid rgb(0, 82, 152); }
.cats_serv table:hover td a { color: rgb(0, 82, 152); }
.lev_b { width: 260px; overflow: hidden; float: right; }
.lev_b .h2 { width: 255px; overflow: hidden; font: 25px/30px Arial; color: rgb(8, 8, 8); margin: 0px 0px 10px 5px; }
.lev_b .h2.sec { font: 25px/30px Arial; color: rgb(8, 8, 8); }
.rig_b { width: 720px; overflow: hidden; float: left; }
.m_menu {  }
.m_menu a { font: 13px/16px Arial; text-decoration: underline; color: rgb(8, 8, 8); }
.m_menu a:hover { text-decoration: none; }
.m_menu img { border: 0px none; margin: 0px 15px; }
.rig_b h1 { font: 25px/30px Arial; color: rgb(8, 8, 8); margin: 30px 0px 20px; }
.content p, .content li { line-height: 20px; }
.content p, .content ul, .content ol { margin: 10px 0px; }
.content ul, .content ol { margin: 10px 0px 10px 25px; }
.content h2 { font: bold 17px/22px Arial; margin: 20px 0px 10px; }
.content h3 { font: bold 15px/20px Arial; margin: 18px 0px 10px; }
.cities-in-footer { width: 470px; max-height: 180px; margin: 18px 0px; overflow-y: scroll; overflow-x: auto; }
.cities-in-footer ul { list-style: outside none none; padding: 0px; margin: 0px; font: 13px/18px Arial; color: rgb(34, 34, 34); }
.cities-in-footer ul li { width: 33%; float: left; }
.pop-up-bg { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; z-index: 1000; }
.pop-up { position: fixed; left: 50%; top: 50%; background: rgb(255, 255, 255) url("pop-up-h.png") repeat-x scroll 0px 0px; z-index: 1001; padding: 0px 20px 20px; }
.pop-up * { color: rgb(70, 70, 70); display: block; }
.pop-up .h2 { font: 20px/56px Arial; margin: 0px 0px 20px; }
.pop-up input { height: 26px; width: 267px; padding: 1px 5px 0px; background: rgb(255, 255, 255) url("input-bg.png") repeat-x scroll 0px 0px; border: 1px solid rgb(216, 216, 216); margin: 3px 0px 15px; position: relative; z-index: 1003; }
.submit { display: block; float: left; border: 1px solid rgb(162, 0, 0); background: rgb(162, 0, 0) url("call-back.png") repeat-x scroll 0px 0px; font: 13px/31px Arial; color: rgb(255, 255, 255); text-transform: uppercase; padding: 0px 10px; clear: right; cursor: pointer; }
.submit:hover { background-position: 0px -31px; }
.submit:active { background-position: 0px -62px; }
.clz { position: absolute; right: 10px; top: 14px; width: 23px; height: 24px; cursor: pointer; background: rgba(0, 0, 0, 0) url("close.png") no-repeat scroll 0px 0px; }
.call-back-pop { width: 279px; margin: -150px 0px 0px -160px; }
.call-back-pop .submit { margin: 0px auto; }
.call-back-pop img { position: absolute; right: -42px; bottom: -23px; z-index: 1002; }
.none { display: none; }
